<html>
<head>
    <title>Resume</title>
</head>
<body>
<h1>Resume</h1>


<a href="/resume/add">Add New Resume</a> <br />

<br />



<table border="1">
    <tr><th>  First Name  </th> <th> Resume Name  </th> <th>Action</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><a href="/account/?account_id=<%= result[i].account_id %>"> <%= result[i].first_name %></a></td>
        <td><a href="/resume/?resume_id=<%= result[i].resume_id %>"> <%= result[i].resume_name %></a></td>

        <td><form action="/resume/delete/">
                <input type="hidden" name="resume_id" id="resume_id" value="<%= result[i].resume_id %>" />
                <input type="submit" value="Delete"/>
            </form>
        </td>


    </tr>
    <% } %>
</table>
</body>

</html>